body {
    color: white;
    background-color: #00a03a;
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

article {
    width: 640px;
    margin: 50px auto;
    text-align: left;
}

h1 {
    font-size: 3em;
    text-decoration : underline;
}

a {
    color: black;
}
